<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito Compras</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" type="img/png" th:href="@{https://cdn-icons-png.flaticon.com/512/3144/3144456.png}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</head>
<body style="background-color:grey">
<div class="container">
    <p th:text="${id_cliente}"></p>
    <h1 class="text-center">Agregar Carrito</h1>
    <form method="post" th:action="@{/carritos/save/{id}(id = ${id_cliente})}">
        <label for="nombre">Nombre del carro</label>
        <input type="text" name="nombre" id="nombre">
        <select name="tipo">
            <option value="especial">ESPECIAL</option>
            <option value="normal">NORMAL</option>
        </select>
        <button type="submit">Crear</button>
    </form>
</div>
</body>
</html>